.main__choice {
    display: flex;
    margin-bottom: 32px;
    gap: 14px;
}
.main__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
}

.main__btn-join {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    color: #c593f0;
    background: inherit;
    cursor: pointer;
}
